<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mading Digital Control Panel - Marquee Text</title>
    <link rel="stylesheet" href="css/marquee_text.css">
</head>
<body>
    <%- include("../../templates/control_panels/sidebar.ejs") %>

    <div class="container">
        <h1>MARQUEE TEXT</h1>
        <% if(marquee_text_list && marquee_text_list.length > 0) { %>
            <% let marquee_text_join = ""; %>
            <% marquee_text_list.forEach((item) => { %>
                <% if(marquee_text_join.length > 0) { %>
                    <% marquee_text_join += " | " + item.text; %>
                <% } else { %>
                    <% marquee_text_join += item.text; %>
                <% } %>
            <% }); %>
            <marquee><%= marquee_text_join %></marquee>
        <% } else { %>
            <marquee>Tidak ada marquee text yang ditampilkan</marquee>
        <% } %>
        <div>
            <% if(marquee_text_list && marquee_text_list.length > 0) { %>
                <% let i = 1; %>
                <% marquee_text_list.forEach((item) => { %>
                    <div>
                        <span class="number"><%= i %>.</span>
                        <span class="text"><%= item.text %></span>
                        <a href="?delete=<%= item.no %>"><img src="icon/trash.png" alt="delete icon"></a>
                    </div>
                    <% i++; %>
                <% }); %>
            <% } %>
        </div>
        <form action="" method="post">
            <input type="text" name="text" id="text">
            <button type="submit">Tambah</button>
        </form>
    </div>

    <script src="javascripts/marquee_text.js"></script>
</body>
</html>